@font-face{
  font-family: 'Fonte1';
  src: url(../fonts/Benguiat-Bold.ttf);
}

/* Formatação Geral*/

* {
  margin:0;
  padding:0;
}
    
.contanier {
  height: auto;
  margin: 0 auto;
  background-color: #FFF;
  font-family: 'Fonte1';
}

img {
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
}
   
ul {
  margin: auto;
  margin-left: 30px;
}

.fundo {
  background-image: url(../imagens/wallpaper2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pagina {
  width: auto; 
  background-color: #f1faff;
  height: auto; 
  margin-top: -24px;
}

p {
  font-size: 10pt;
}

h1 {
  display: none;
}

.sub1 {
  color: #ff6262;
  text-align: left;
  font-size: 10pt;
  padding-top: 10px;
  padding-left: 10px;
}

#sub2 {
  text-align: left;
  margin: 20px;
}

#rede1 {
  margin-top: -15px;
  padding-left: 350px;
}

#rede2 {
  margin-top: -3px;
  margin-left: 0px;
}

#footer {
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding-bottom: 10PX;
  padding-top: 20px;
  background-color: #7a001f;
  text-align: center;
  vertical-align: middle;
}

.imgfooter {
  margin-left: 10px;
}
  
h3 {
  color: #440000;
  text-align: center;
}

.recuo { 
  text-indent: 1em;
  color: rgb(116, 0, 0);
  padding: 10px;
}

/* CSS Fotos */

ul#album-fotos {
  list-style: none;
}

ul#album-fotos li {
  float: left;
  width: 300px;
  height: 300px;
  margin: 0px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}

/* CSS Fotos SeasonOne */

ul#album-fotos li#fotos01 {
  background: url('../imagens/img\ temp1-1.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
  margin-left: 50px;
}

ul#album-fotos li#fotos02 {
  background: url('../imagens/img\ temp1-6.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

ul#album-fotos li#fotos03 {
  background: url('../imagens/img\ temp1-3.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

ul#album-fotos li#fotos04 {
  background: url('../imagens/img\ temp1-4.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
  margin-left: 50px;
}

ul#album-fotos li#fotos05 {
  background: url('../imagens/img\ temp1-5.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

ul#album-fotos li#fotos06 {
  background: url('../imagens/img\ temp1-2.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

/* CSS Fotos SeasonTwo */

ul#album-fotos li#fotos07 {
  background: url('../imagens/img\ temp2-1.jpg') no-repeat;
  background-position: 20% 0%;
  background-size: 300px 300px;
  background-color: #ffffff;
  margin-left: 50px;
}

ul#album-fotos li#fotos08 {
  background: url('../imagens/img\ temp2-2.jpg') no-repeat;
  background-position: 10% 30%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

ul#album-fotos li#fotos09 {
  background: url('../imagens/img\ temp2-3.jpg') no-repeat;    
  background-position: 40% 40%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

ul#album-fotos li#fotos10 {
  background: url('../imagens/img\ temp2-4.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
  margin-left: 50px;
}

ul#album-fotos li#fotos11 {
  background: url('../imagens/img\ temp2-5.jpg') no-repeat;   
   background-position: 40% 40%;
  background-size: 300px 300px;
  background-color: #ffffff;
}

ul#album-fotos li#fotos12 {
  background: url('../imagens/img\ temp2-6.jpg') no-repeat;    
  background-position: 50% 50%;
  background-size: 300px 300px;
  background-color: #ffffff;
}



/* CSS Home */

.homeh3 {
  font-size: 13px;
  text-align: left;
  padding: 2px;
}

.homeP{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: #7a001f;
}

/* CSS Elenco */

.elnh3 {
  font-size: 8pt;
  color: #ff9292;
}

.pagina a {
  text-decoration: none;
}

/* CSS Curiosidades */

.imagens {
  margin: 10px;
}

.curiP {
  font-family: Arial, Helvetica, sans-serif;
}

.curih4 {
  font-family: 'Fonte1';
  font-size: 14pt;
  color: #bd4949;
  text-align: left;
  margin-left: 20px;
}

/* CSS SeasonOne */

.oneP {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
}

.oneh3 {
  color: #7a001f;
}

.oneh4 {
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
}

.oneOl {
  font-family: Arial, Helvetica, sans-serif;
}

.oneUl {
  font-size: 10pt;
  text-decoration: none;
  list-style:none; 
  padding: 10px;
}

.oneA {
  color: #7a001f;
}

/* CSS SeasonTwo */

.twoh4{
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
  margin-top: 10px;
}

.tworecuo {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
}

.twoOl {
  font-family: Arial, Helvetica, sans-serif;
}

.oneUl {
  font-size: 10pt;
  text-decoration: none;
  list-style:none; 
  padding: 10px;
}

/* CSS SeasonTree */

.treP {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
}

.treh3 {
  color: #7a001f;
}

.treh4 {
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
}

.treOl {
  font-family: Arial, Helvetica, sans-serif;
}

.treUl {
  font-size: 10pt;
  text-decoration: none;
  list-style:none; 
  padding: 10px;
}

.treA {
  color: #7a001f;
}
