@font-face{
  font-family: 'Fonte1';
  src: url(../fonts/Benguiat-Bold.ttf);
}

/* Formatação Geral*/

* {
  margin:0;
  padding:0;
}
    
.contanier {
  height: auto;
  margin: 0 auto;
  background-color: #FFF;
  font-family: 'Fonte1';
}

img {
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
}
   
ul {
  margin: auto;
  margin-left: 30px;
}

.fundo {
  background-image: url(../imagens/wallpaper2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pagina {
  width: auto; 
  background-color: #f1faff;
  height: auto; 
  margin-top: -24px;
}

p {
  font-size: 10pt;
}

h1 {
  display: none;
}

.sub1 {
  color: #ff6262;
  text-align: left;
  font-size: 10pt;
  padding-top: 10px;
  padding-left: 10px;
}

#sub2 {
  text-align: left;
  margin: 20px;
}

.direita {
  float:right;
}

#rede1 {
  margin-top: 0px;
}

#rede2 {
  margin-top: -3px;
}

#footer {
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding-bottom: 10PX;
  padding-top: 20px;
  background-color: #7a001f;
  text-align: center;
  vertical-align: middle;
}

.imgfooter {
  margin-left: 10px;
}
  
h3 {
  color: #440000;
  text-align: center;
}

.recuo { 
  text-indent: 1em;
  color: rgb(116, 0, 0);
  padding: 10px;
}

/* CSS Home */

.homeH2 {
  color: #fff; 
  background-color:#9e0028; 
  text-align: start; 
  font-family: 'Fonte1'; 
  font-size: 17pt; 
  padding: 10px; 
  padding-left: 50px;
  margin-top: -16px;
}

.homeh3 {
  font-size: 13px;
  text-align: left;
  padding: 2px;
}

.homeP{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: #7a001f;
}

/* CSS Elenco */

.elnh3 {
  font-size: 8pt;
  color: #ff9292;
}

.pagina a {
  text-decoration: none;
}

/* CSS Curiosidades */

.imagens {
  margin: 10px;
}

.curiP {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.curih4 {
  font-family: 'Fonte1';
  font-size: 14pt;
  color: #bd4949;
  text-align: left;
  margin-left: 20px;
}

/* CSS SeasonOne */

.onerecuo {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
  font-size: 12pt;
}

.oneh3 {
  color: #7a001f;
  margin-top: 20px;
}

.oneh4 {
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
  margin-top: 20px;
}

.oneOl {
  font-family: Arial, Helvetica, sans-serif;
}

.oneUl {
  font-size: 10pt;
  text-decoration: none;
  list-style:none; 
  padding: 10px;
}

.oneA {
  color: #ff3535;
}

a:hover{
  text-decoration: underline;
  color: rgb(168, 0, 0);
}

/* CSS SeasonTwo */

.twoh4{
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
  margin-top: 20px;
}

.tworecuo {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
  font-size: 12pt;
}

.twoOl {
  font-family: Arial, Helvetica, sans-serif;
}

.twoUl {
  font-size: 10pt;
  text-decoration: none;
  list-style:none; 
  padding: 10px;
}

/* CSS SeasonTree */

.treP {
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
  font-size: 12pt;
}

.treh3 {
  color: #810020;
}

.treh4 {
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
  margin-top: 20px;
}

.treOl {
  font-family: Arial, Helvetica, sans-serif;
}

.treUl {
  font-size: 10pt;
  text-decoration: none;
  list-style:none; 
  padding: 10px;
}

.treA {
  color: #7a001f;
}

/* CSS NotOne */

.notP{
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1em;
  color: rgb(116, 0, 0);
  margin: 20px;
  padding-left: 10px;
  font-size: 12pt;
}

.noth3 {
  color: #810020;
  margin: 20px;
}

.noth4 {
  text-align: left;
  margin-left: 50px;
  font-size: 14pt;
  color: #bd4949;
  margin-top: 20px;
}

.noth5 {
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
  font-size: 14px;
  margin: 20px;
}